/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
body {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  min-height: 100vh;
  position: relative;
}

/* Основной контейнер */
.app {
  width: 100%;
  
  padding: 16px;
  background-color: #fefdfd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 70px);
  overflow-y: auto;
    
}

/* Header */
.app__header {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.header-info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-info__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.header-info__text {
  max-width: 150px;
  display: flex;
  flex-direction: column;
}
.header-info__name {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}
.header-info__description {
  font-size: 10px;
  color: #00000099;
}
.header__sidebar-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #000;
}

/* Progress */
.progress {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 24px;
}
.progress-item {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.progress-item__icon {
  font-size: 28px;
}
.progress-item__text {
  display: flex;
  flex-direction: column;
}
.progress-item__title {
  font-weight: 600;
  font-size: 14px;
  color: black;
}
.progress-item__count {
  font-size: 12px;
  color: #666;
}

/* Цветовые модификаторы */
.progress-item--ongoing {
  background-color: #f9d81c7c;
  color: #b28f00;
}
.progress-item--in-progress {
  background-color: #ff4d4d81;
  color: #7a0000;
}
.progress-item--completed {
  background-color: #4caf4f78;
  color: #fff;
}
.progress-item--canceled {
  background-color: #3f51b572;
  color: #fff;
}

/* Tasks */
.tasks {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 80px;
}
.tasks__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  color: #222;
}
.tasks__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 200px;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 390px;
  background-color: #ffffff;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  
  z-index: 1000;
 border-top: 1px solid black ;
}
.footer__add-btn {
  background-color: #c28616;
  border: none;
  color: white;
  font-size: 18px;
  padding: 12px 14px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
 
  transition: background-color 0.3s ease;
}
.footer__add-btn:hover,
.footer__add-btn:active {
  background-color: #56f55e;
}
.footer__add-btn i {
  font-size: 22px;
}
.task-card {
  width: 95%;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  
  padding-left: 6px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}
.task-card p {
  color: #00000074;
}

.task-card__title {

  font-size: 17px;
  
  line-height: 0.8;
 
}
.task-card__description {
  font-size: 12px;
 
  line-height: 0.8;
}
.task-card__count {
  font-size: 10px;
  line-height: 0.8;
  
}
.form-main {
  position: absolute;    /* теперь относительно .app */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* затемнённый фон */
  z-index: 999;     /* достаточно, чтобы быть поверх внутреннего контента */
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  width: 430px;
  height: 932px;
  background-color: white;
}